#quiz-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    
}
#quiz-page > .quiz-inner{
    width: 100%;
    height: 98%;
    border: 1.5px solid #6C4B34;
    padding: 16px;
    border-radius: 25px 25px 0 0;
    display: flex;
    flex-direction: column;
}

#quiz-page >.quiz-inner>.quiz-image {
  width: 100%;
  height: 220px;
  object-fit: cover; 
  margin-bottom: 16px;
  display: block;
}
#quiz-page>.quiz-inner>p:nth-of-type(1){
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 900;
    color: #2a2a2a;
}
#quiz-page>.quiz-inner>p:nth-of-type(2){
    text-align: center;
    font-size: 12px;
}
.choices> li{
    font-size: 14px;
    width: 100%;
    background-color:#E7DCD0;
    margin: 0.8rem 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.choices>li:hover{
    background-color: #D1C0A9;
    transform: scale(1.02);
    transition: 0.15s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
#quiz-page>.quiz-inner>p:nth-of-type(3){
    position: absolute;
    right: -10px;
    bottom :-40px;
    color: #2a2a2a;

}