@charset "utf-8";
*{ margin: 0; padding: 0; box-sizing: border-box;}
a{ text-decoration: none; color: inherit;}
ol,ul{list-style: none;}
/* app */
#root{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/public/images/backimg.jpg);
    background-color: #222;
    background-size: cover;
}
.app{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 360px;
   height: 640px;
   border-radius: 25px;
   background-color: #fff;
   padding: 1rem;
   background-image: url(/public/images/base\ img.jpg);
   position: relative;
   background-color: rgba(120, 82, 48, 0.1);
}
   .mainline{
    width: 290px;
    height: 560px;
    border: 1.5px solid #6C4B34;
    padding: 10px;
    border-radius: 25px;;

   }
   .mainline.quiz-mode{
    border:none;
    background-color: #D2C4B4;
    padding: 10px;
    border-radius: 25px;
   }
   .no-border{
    border:none !important;
   }
   h1{
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    color: #1A1A1A;
   }
   .score-box{
    display: flex;
    position: absolute;
    bottom: 230px;
    left: 17px;
    width:90%;
    height: 200px;
    background-color: #D2C4B4;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 128px;
    font-weight: bolder;
    border-radius: 30px;
     animation: popIn 0.6s cubic-bezier(0.16, 1, 0.3, 1);
   }
   .score-box>p{
    font-size:64px ;
    color: #2a2a2a;
   }






@media all and (max-width: 360px){
    #app{
        
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
    }
}
@keyframes popIn {
  0% { transform: scale(0.5); opacity: 0; }
  80% { transform: scale(1.07); }
  100% { transform: scale(1); opacity: 1; }
}