@charset "utf-8";
*{ margin: 0; padding: 0;}
a{ text-decoration: none; color: inherit;}
ol,ul{list-style: none;}
/* app */
#root{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}
.app{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 360px;
   height: 640px;
   border: 1px solid #222;
   border-radius: 25px;
   background-color: #fff;
   padding: 1rem;
   background-image: url(/public/images/base\ img.jpg);
   .mainline{
    width: 290px;
    height: 560px;
    border: 1px solid #6C4B34;
    border-radius: 25px;

   }
   h1{
    text-align: center;
    font-size: 32px;
    color: #1A1A1A;
   }

}
#categories{
    ul{
        li{
            cursor: pointer;
            margin: 0.5rem 0;
        }
    }
}

@media all and (max-width: 360px){
    #app{
        
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
    }
}